<div class="sign-up-form">
  <h1>Sign In</h1>
  <%= form_for(:session, url: login_path)  do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username, placeholder: 'Enter your username..', autofocus: true, class:'input-box' %>
    <%= f.submit 'Sign In', class: 'sign-up-btn' %>
     <hr>
    <p class="or">OR</p>

    <%= link_to 'Sign Up', root_path, class: 'log-in-btn' %>

  <% end %>
</div>

