<div class="user-btn">
  <div class="add-brand">
    <%= link_to 'Add New Brand', new_brand_path %>
  </div>
  <div class="add-brand">
    <%= link_to 'Add New Car to Collection', new_car_path %>
  </div>
</div>

<h1 class="app-headers">
  <%= @user.username %> <%= image_tag(@user.image.thumb.url) %> 
</h1>

<table class="content-table">
  <thead>
    <tr>
      <th>Car Name</th>
      <th>Model</th>
      <th>Year</th>
      <th>Do you own?</th>
    </tr>
  </thead>
  <% @users_cars.each do |car| %>
    <tbody>
      <tr>
        <td><%= link_to car.name, car_path(car) %></td>
        <td><%= car.model.upcase %></td>
        <td><%= car.year %></td>
        <td><strong><%= status(car) %></strong></td>
      </tr>
    </tbody>
  <% end %>
</table>

