<h1 class="app-headers">Edit your Car Details</h1>

<div class="sign-up-form">
  <%= form_for @car do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, class:'input-box' %>

    <%= f.label :model %>
    <%= f.text_field :model, autofocus: true, class:'input-box' %>

    <%= f.label :year %>
    <%= f.text_field :year, autofocus: true, class:'input-box' %>

    <%= f.label :image %>
    <%= f.file_field :image, class:'input-box' %>

    <%= f.submit 'Edit Car', class: 'sign-up-btn' %>
    
  <% end %>
</div>