<nav>
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
    <i class="fas fa-bars"></i>
  </label>
  <label class="logo">Dreams</label>
  <ul>
  <% if logged_in? %>
    <li class="nav-links2"><%= current_user.username %></li>
    <li><%= link_to 'My Dream Cars', user_path(current_user), class: 'nav-links top' %></li>
    <li><%= link_to 'Owned Cars', '', class: 'nav-links top' %></li>
    <li><%= link_to 'All Brands', brands_path, class: 'nav-links top' %></li>
    <%= link_to 'Sign Out', logout_path, method: :delete, class: 'nav-links' %>
  <% else %>
    <%= link_to 'Sign In', login_path, class: 'nav-links top' %>
  <% end %>
  </ul>
</nav>